*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
.wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.navigation{
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    background-color: #ffffff;
}
.top-menu{
    position: relative;
    height: 65px;
    overflow: hidden;
    overflow-x: scroll; 
}
.top-menu .items{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 10px;
}
.top-menu.show-menu{
    height: fit-content;
    position: static;
    overflow: auto;
}
.top-menu.show-menu .items{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background: #fff;
    width: 100%;
    box-shadow: 0px 5px 20px 0px rgb(185, 185, 185);
    border-radius: 0 0px 10px 10px;
}
.top-menu .items .item{
    padding: 10px 20px;
    position: relative;
    width: max-content;
    white-space: nowrap;
    border-radius: 6px;
    font-weight: 500;
    color: #535353;
    cursor: pointer;
}
.top-menu .items .item.active{
    background-color: #edfff2;
    color: #6ab539;
}
.top-menu .items .item:hover{
    color: #6ab539;
}
.top-menu::-webkit-scrollbar{
    background: #ffffff;
    height: 4px;
}
.top-menu::-webkit-scrollbar-thumb{
    background: #e2e2e2;
    border-radius: 10px;
}
.show-all{
    display: none;
}
.show-all span{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    right: 0;
    top: 30px; 
    transform: translate(0%, -50%); 
    color: #6ab539;
    padding: 6px 10px;
    background: #ffffff;
    box-shadow:-4px 0px 6px 0px rgb(226, 222, 222);
    border-radius: 8px 0 0 8px;
    text-align: center;
    cursor: pointer;
}
.main-content{
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.main-content .main-content-item{
    border-radius: 10px;
    box-shadow: 0px 0px 20px -8px rgb(185, 185, 185);
    padding: 20px;
    margin-bottom: 40px;
}
.main-content .main-content-item h3{
    font-size: 26px;
}
.main-content .main-content-item p{
    margin: 20px 0;
}
.main-content .main-content-item img{
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .show-all{
        display: flex;
    }
}